# ENABLE_OPENID Plugin
ENABLE_OPENID = os.getenv('ENABLE_OPENID', 'False') == 'True'
if ENABLE_OPENID:
    INSTALLED_APPS += [
        "taiga_contrib_openid_auth"
    ]
    OPENID_USER_URL = os.getenv('OPENID_USER_URL')
    OPENID_TOKEN_URL = os.getenv('OPENID_TOKEN_URL')
    OPENID_CLIENT_ID = os.getenv('OPENID_CLIENT_ID')
    OPENID_CLIENT_SECRET = os.getenv('OPENID_CLIENT_SECRET')
    OPENID_SCOPE = os.getenv('OPENID_SCOPE')
    OPENID_FILTER = os.getenv('OPENID_FILTER')
    OPENID_FILTER_FIELD = os.getenv('OPENID_FILTER_FIELD')
    OPENID_ID_FIELD = os.getenv('OPENID_ID_FIELD', 'sub')
    OPENID_USERNAME_FIELD = os.getenv('OPENID_USERNAME_FIELD', 'preferred_username')
    OPENID_FULLNAME_FIELD = os.getenv('OPENID_FULLNAME_FIELD', 'name')
    OPENID_EMAIL_FIELD = os.getenv('OPENID_EMAIL_FIELD', 'email')
